<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <img src="{{ cart.image.url }}" alt="{{ cart.title}}" class="images">
        <h2 class="cart-title"> {{ cart.title}}</h2>
        <p class="cart-description"> {{ cart.description}}</p>
        <span class="cart-price"> {{ cart.price}}</span>
        <button class="add-to-cart-btn">Add to cart</button>
    </div>

</body>
</html>