
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenKiosk</title>
</head>
<body>
    <div class="category-container">
        {% for category in categories %}
        <div class="category">
            <img src="{{ category.image.url }}" alt="{{ category.title }}" class="images">
            <p class="category-title">
                {{ category.category_name}}</p>

            <div class="category-buttons">
                <a href="{% url 'category_detail_view' id=category.id %}">View Details</a>
                <a href="{% url 'category_update_view' id=category.id %}" class="edit">Edit Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>