

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<div>
    <img src="{{ signup.image.url }}" alt="{{ signup.title}}" class="images">
    <h2 class="signup-title"> {{ signup.First_name}}</h2>
    <p class="signup"> {{ signup.Last_name}}</p>
    <p class="signup"> {{ signup.phone}}</p>
    <p class="signup"> {{ signup.Email}}</p>
    <p class="signup"> {{ signup.Password}}</p>
    <p class="signup"> {{ signup.confirm_Password}}</p>


    
</div>

</body>
</html>